<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<h2>Home Page</h2>
<form method="POST" action="/">
	<div>
		<label for="location"> Enter Location, Landmark or Address</label>
		<input type="text" id="location" name="location" placeholder="Enter Location">
	</div>
	<input type="submit" name="Enter Now!">
		
</form>

</body>
</html>







<h2>Home Page</h2>
